

/********************
YOUR STYLES
*******************/

    
    
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-family: 'Nobile', sans-serif;
  color: white;
    h1{
    background: #636113;

    background: url(https://68.media.tumblr.com/7697d11dce463e71cb97cd2f36e7a915/tumblr_nt9btmnlwE1ssqam8o1_500.gif);
    background-size: auto;
}

}

/*Portfolio*/
.gallery {
 display: flex;
 flex-flow: row wrap;
}

figure {
  background: #636113;
  padding: 1em;
  flex:1 0 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

figcaption{    
    color: white;
}


figure img {

}

figure p {
 
}

/* Lightbox Overlay */
/* hide  */
.overlay {
  display: none;
  
/* Overlay Styling   */
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: rgba(0,0,255,.25);
  
  
  
  
}

/* show */
.overlay:target {
  display: block;
 
  /* Flexbox Vertical & Horizontal Centering */
  display: flex;
  min-height: 50vh;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
 
    
}

.overlay img {
    border: 10px solid black;
}

/* Close Button  */
.overlay a {
   font-size: 3em;
  color: black;
  text-decoration: none;
}
#reconstruct {
    width: 100%;
}
#concept-1{
    width: 100%;
}

#concept-2 {
    width: 100%;
}
#poster-1{
    width: 100%;
}
#poster-2{
    width: 100%;
}

#type{
    width: 100%;
}


/*Portfolio Stop*/

h1, h2, h3{
    background: dodgerblue;
    
}

ul{
    line-height: 1.5em;
}


a:hover {
  border-bottom: solid white 2px;
    color: dodgerblue;
      
}

a:link,a:visited {
  color: dodgerblue;
  text-decoration: none;
    }
a:focus{
    background: white;}
